<component name="ArtifactManager">
  <artifact type="war" name="SpringThymeleafApp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringThymeleafApp.war">
      <element id="artifact" artifact-name="SpringThymeleafApp:war exploded" />
    </root>
  </artifact>
</component>